@import '../../styles/constants';

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    margin-left: 5vw;
    height: 48vw;
}

.title {
    margin-top: -3vw;
    line-height: 1.7em;
}

.hr {
    width: 50%;
    color: $green;
}