@import '../../styles/constants';

.h1 {
    margin-bottom: $base * 5;
    font-size: $fontSizeHuge;
    font-weight: 200;
    text-align: center;
}

.h2 {
    font-size: $fontSizeBig;
    font-weight: 200;
    text-align: center;
}

.h3 {
    margin-bottom: $base * 5;
    font-weight: 200;
    font-size: 32px;
}