@import '../../styles/constants';
@import '../../styles/mixins';

.h1 {
    margin-bottom: $base * 5;
    font-size: $fontSizeXXL;
    font-weight: 200;
    text-align: center;

    @include mediaSmall {
        font-size: $m_fontSizeXXL;
    }

    @include mediaHuge {
        font-size: $h_fontSizeXXL;
    }
}

.h2 {
    font-size: $fontSizeL;
    font-weight: 200;
    text-align: center;

    @include mediaSmall {
        font-size: $m_fontSizeL;
    }

    @include mediaHuge {
        font-size: $h_fontSizeL;
    }
}

.h3 {
    margin-bottom: $base * 5;
    font-weight: 200;
    font-size: $fontSizeXL;

    @include mediaSmall {
        font-size: $m_fontSizeXL;
    }

    @include mediaHuge {
        font-size: $h_fontSizeXL;
    }
}