@import '../../styles/constants';

$bubbleSize: $base * 20;

.links {
    display: flex;
    font-size: $fontSizeBig;
    font-weight: 200;

    list-style: none;

    transition: opacity $transition, transform $transition;
}

.portfolio {
    color: $green;

    &:hover {
        color: darken($green, 10);
    }
}

.about {
    color: $blue;

    &:hover {
        color: darken($blue, 10);
    }
}

.contact {
    color: $grey;

    &:hover {
        color: darken($grey, 10);
    }
}

.link {
    display: block;
    text-decoration: none;

    transition: color $transition .4s;

    &+& {
        margin-left: $base * 15;
    }
}

.bubbles {
    opacity: 0;
    pointer-events: none;
}

.bubble {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $bubbleSize;
    height: $bubbleSize;

    will-change: transform;

    transition: color $transition;

    &.portfolio {
        top: calc(50vh - #{$bubbleSize/2});
        left: $layoutPadding/2;

        transform: translate(calc(100vw - 470px), calc(-50vh + #{$base*10})) scale(.5);
    }

    &.about {
        top: calc(50vh - #{$bubbleSize*1.25});
        right: $layoutPadding/2;

        transform: translate(-180px, calc(-50vh + #{$base*10 + $bubbleSize*0.75})) scale(.5);
    }

    &.contact {
        top: calc(50vh + #{$bubbleSize*0.25});
        right: $layoutPadding/2;

        transform: translate(-20px, calc(-50vh + #{$base*10 - $bubbleSize*0.75})) scale(.5);
    }

    &:hover {
        animation: push .4s ease;

        & .bubbleBackgroundPulse {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;

            animation: pulse 1s .2s ease-out;

            path {
                fill: none;
                stroke: currentColor;
                stroke-width: 2px;
            }
        }
    }
}

.bubbleBackground {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.icon {
    color: white;
    z-index: 2;
    width: $base * 13;
    height: $base * 13;
}

.offset {
    .links {
        opacity: 0;
    }

    .bubbles {
        opacity: 1;
        pointer-events: auto;

        transition: opacity 1s;
    }

    .bubble {
        transform: translate(0) scale(1);

        transition: color $transition, transform .7s .1s ease-out;
    }

    .contact {
        transition-duration: .5s;
    }
}

@keyframes showIcons {
    20% {
        opacity: 0;
        transform: scale(1);
        pointer-events: auto;
        color: currentColor;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
        color: white;
    }
}

@keyframes push {
    50% {
        transform: scale(.95);
    }
}

@keyframes pulse {
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}