@import '../../styles/constants';

.menu {
    list-style: none;
    display: flex;
    font-size: $fontSizeBig;
    font-weight: 200;
}

.icon {
    width: $base * 10;
    height: $base * 10;
    margin-right: $base * 4;
}

.item {
    display: flex;
    color: $grey;
    align-items: center;

    transition: color $transition;

    &+& {
        margin-left: $base * 15;
    }

    &:hover {
        color: darken($grey, 10);
    }
}

.portfolio {
    color: $green;

    &:hover {
        color: darken($green, 10);
    }
}

.about {
    color: $blue;

    &:hover {
        color: darken($blue, 10);
    }
}

.link {
    text-decoration: none;
    color: currentColor;
}