@import '../../styles/constants';

$xing: #026466;
$linkedIn: #0077b5;
$behance: #1769ff;
$instagram: #fd1d1d;
$github: #333;
$web: $grey;

.button {
    position: relative;
    height: 100%;
    padding: $base*4 $base*5;
    border: 3px solid currentColor;
    font-size: $fontSizeBase;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;

    transition: color $transition;

    outline: none;
    box-shadow: none;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        transition: color $transition;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 150%;
        width: 200%;
        height: 100%;
        z-index: -1;

        will-change: transform;
    }

    &::before {
        background: currentColor;
        transform: skewX(5deg);

        transition: transform 1s ease;
    }

    &::after {
        border-right: 4px solid currentColor;
        transform: skewX(5deg) translateX(#{$base*4});

        transition: transform .95s ease;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        .content {
            color: white;
        }

        &::before,
        &::after {
            transform: skewX(-45deg) translateX(120%);
        }
    }
}

.green {
    color: $green;
}

.pink {
    color: $pink;
}

.blue {
    color: $blue;
}

.grey {
    color: $grey;
}

.xing {
    color: $xing;
}

.linkedIn {
    color: $linkedIn;
}

.behance {
    color: $behance;
}

.instagram {
    color: $instagram;
}

.github {
    color: $github;
}

.web {
    color: $web;
}

.small {
    padding: $base*2 $base*5;
    font-size: $fontSizeS;
    border-width: 2px;
}