@import '../../styles/constants';
@import '../../styles/mixins';

$xing: #026466;
$linkedIn: #0077b5;
$behance: #1769ff;
$instagram: #fd1d1d;
$github: #333;
$web: $grey;

.button {
    position: relative;
    height: 100%;
    padding: $base*4 $base*5;
    border: 3px solid currentColor;
    font-size: $fontSizeBase;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;

    transition: color $transition;

    outline: none;
    box-shadow: none;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        transition: color $transition;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        transform-origin: bottom left;
        transform: rotate(-90deg);

        transition: transform $transition;
        will-change: transform;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        .content {
            color: white;
        }

        &::before {
            transform: rotate(0deg);
        }
    }

    @include mediaHuge {
        font-size: $h_fontSizeBase;
    }
}

.green {
    color: $green;
}

.pink {
    color: $pink;
}

.blue {
    color: $blue;
}

.grey {
    color: $grey;
}

.xing {
    color: $xing;
}

.linkedIn {
    color: $linkedIn;
}

.behance {
    color: $behance;
}

.instagram {
    color: $instagram;
}

.github {
    color: $github;
}

.web {
    color: $web;
}

.small {
    padding: $base*2 $base*5;
}