@import '../../styles/constants';

.button {
    margin-top: $base * 7;
}

.p {
    margin: $base*4 0;
}

.emailLink {
    font-size: $fontSizeBase;
    color: $green;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        color: darken($green, 10);
    }
}

.info {
    margin-top: $base * 2;
    color: $grey;
    font-size: $fontSizeS;
}