@import '../../styles/constants';

$layoutPadding: $base * 5;

.main {
    width: 100%;
    min-height: 100vh;
    padding: ($headerHeight + $layoutPadding) $layoutPadding $layoutPadding;
    background-image: url('../../../static/grain.jpg');
}