@import '../../styles/constants';
@import '../../styles/mixins';

$buttonOffset: $base * 5;

.about {
    @include mediaSmall {
        margin-bottom: $base * 10;
    }
}

.p {
    margin-bottom: $base * 10;
    font-weight: 800;
    line-height: $lineHeight;
}

.green {
    color: $green;
}

.pink {
    color: $pink;
}

.buttonContainer {
    display: flex;
}

.portfolio {
    margin-left: $base * 5;
}

.contact {
    margin-top: $buttonOffset;
    margin-left: $base * 20;
}

.contactButton {
    &+& {
        margin-left: $base * 2;
    }
}