@import '../../styles/constants';

.filters {
    display: flex;
    justify-content: space-between;
    margin: $base * 10 0 $base * 20;
    padding: 0 $base * 10;
}

.filter {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 18%;
    padding: $base * 4 $base * 4;
    font-size: $fontSizeL;
    font-weight: 200;
    cursor: pointer;

    transition: color $transition, opacity $transition;

    background: none;
    outline: none;
    box-shadow: none;

    &:hover.active,
    &:focus {
        outline: 2px solid currentColor;
    }
}

.filterIcon {
    display: none;
    margin-right: $base * 4;
}