$base: 4px;

$green: #00CAA7;
$blue: #0094AB;
$grey: #707070;
$pink: #D60074;

$fontSizeSmall: 14px;
$fontSizeBase: 18px;
$fontSizeBig: 26px;
$fontSizeHuge: 52px;

$lineHeight: 1.75;

$fontColor: $grey;

$headerHeight: $base * 17;

$transition: .4s ease;

$streamWidth: 95vw;