$base: 4px;

$fontGrey: #3b3f48;

$green: #00CAA7;
$blue: #0094AB;
$grey: #707070;
$pink: #D60074;

$lightGreen: #87D7A0;
$lightBlue: #6DB6D0;
$lightPink: #E68EB6;

$colorTransparency: 0.6;

$transparentGreen: rgba($green, $colorTransparency);
$transparentLightGreen: rgba($lightGreen, $colorTransparency);
$transparentLightBlue: rgba($lightBlue, $colorTransparency);
$transparentLightPink: rgba($lightPink, $colorTransparency);

$fontSizeS: 14px;
$fontSizeBase: 18px;
$fontSizeL: 26px;
$fontSizeXL: 32px;
$fontSizeXXL: 52px;

$lineHeight: 1.75;

$layoutPadding: $base * 10;

$headerHeight: $base * 20;
$footerHeight: $base * 20;

$transition: .4s ease;

$streamWidth: 95vw;

$breakpointSmall: 1050px;

// MOBILE
$m_layoutPadding: $base * 3;
$m_headerHeight: $base * 20;
$m_footerHeight: $base * 15;

$m_fontSizeS: 8px;
$m_fontSizeBase: 16px;
$m_fontSizeL: 18px;
$m_fontSizeXL: 22px;
$m_fontSizeXXL: 30px;