$base: 4px;

$fontGrey: #3b3f48;

$green: #00CAA7;
$blue: #0094AB;
$grey: #707070;
$pink: #D60074;

$lightGreen: #87D7A0;
$lightBlue: #6DB6D0;
$lightPink: #E68EB6;

$fontSizeSmall: 14px;
$fontSizeBase: 18px;
$fontSizeBig: 26px;
$fontSizeHuge: 52px;

$lineHeight: 1.75;

$fontColor: $grey;

$headerHeight: $base * 17;

$transition: .4s ease;

$streamWidth: 95vw;