* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
}