@import '../../styles/constants';

$scrollThreshold: 0;



.stream {
    position: absolute;
    top: $headerHeight;
    left: 0;
    width: $streamWidth;
    // pointer-events: none;

    image {
        overflow: visible;
    }
}

.easterEgg {
    cursor: help;
    opacity: 0;
    transform-origin: 112% 10%;
    transform: scale(.5) rotate(4deg) translate(102%, 3%);

    &:hover {
        animation: easterEgg 3s ease infinite;
    }
}

@keyframes easterEgg {

    30%,
    80% {
        opacity: 0;
        transform: scale(.5) rotate(4deg) translate(102%, 3%);
    }

    40%,
    45% {
        opacity: 1;
        transform: scale(1) rotate(4deg) translate(102%, 3%);
    }

    48% {
        opacity: 1;
        transform: scale(1) rotate(-4deg) translate(102%, 3%);
    }

    50%,
    60% {
        opacity: 1;
        transform: scale(1) rotate(4deg) translate(102%, 3%);
    }

    63% {
        opacity: 1;
        transform: scale(1) rotate(-4deg) translate(102%, 3%);
    }

    65%,
    70% {
        opacity: 1;
        transform: scale(1) rotate(4deg) translate(102%, 3%);
    }
}

// COLORS
.st0 {
    fill: #873D45;
}

.st1 {
    fill: #D790B1;
}

.st2 {
    fill: #DFA4C0;
}

.st3 {
    fill: #EDCBDB;
}

.st4 {
    fill: #FFFFFF;
}

.st5 {
    fill: #27C5A5;
}

.st6 {
    fill: #AACFA1;
}

.st7 {
    fill: #26C6A4;
}

.st8 {
    fill: #F9D783;
}

.st9 {
    fill: #FBD784;
}

.st10 {
    fill: #1B2024;
}

.st11 {
    fill: #F7455D;
}

.st12 {
    fill: #F74661;
}

.st13 {
    fill: #ECE3D7;
}

.st14 {
    fill: #C20073;
}

.st15 {
    fill: #1C2027;
}

.st16 {
    fill: #3F93A9;
}

.st17 {
    fill: #F0D74D;
}

.st18 {
    fill: #3C91A7;
}

.st19 {
    fill: #182026;
}

.st20 {
    fill: #1F4C86;
}

.st21 {
    fill: #C10072;
}

.st22 {
    fill: #D88FB1;
}

.st23 {
    fill: #F8455E;
}

.st24 {
    fill: #F08A59;
}

.st25 {
    fill: #F18C5B;
}

.st26 {
    fill: #F0D651;
}

.st27 {
    fill: #015F7E;
}

.st28 {
    fill: #28C6A8;
}

.st29 {
    fill: #FDD986;
}

.st30 {
    fill: #ADD0A3;
}

.st31 {
    fill: #1A4986;
}

.st32 {
    fill: #3993A8;
}

.st33 {
    fill: #16789F;
}

.st34 {
    fill: #3B91A7;
}

.st35 {
    fill: #C00072;
}

.st36 {
    fill: #E16658;
}

.st37 {
    fill: #0B0A0A;
}

// ELEMENTS
.monster {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 0}) * 0.1);
}

.whale_1 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 8}) * 0.1);
}

.rhino {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 10}) * 0.1);
}

.tentacle_1 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 12}) * 0.1);
}

.dude {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 13}) * 0.1);
}

.bird {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 14}) * 0.1);
}

.center_dude {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 15}) * 0.1);
}

.huh {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 17}) * 0.1);
}

.tentacle_2 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 17}) * 0.1);
}

.flat_bird {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 18}) * 0.1);
}

.tophat {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 18}) * 0.1);
}

.worm {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 20}) * 0.1);
}

.dino {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 22}) * 0.1);
}

.snake {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 24}) * 0.1);
}

.angry_bird {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 24}) * 0.1);
}

.eye {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 26}) * 0.1);
}

.look {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 28}) * 0.1);
}


.center_1 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 28}) * 0.1);
}

.center_2 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 30}) * 0.1);
}

.center_3 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 32}) * 0.1);
}

.center_5 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 37}) * 0.1);
}

.center_4 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 41}) * 0.1);
}

.center_6 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 45}) * 0.1);
}

.center_7 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 48}) * 0.1);
}

.center_8 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 52}) * 0.1);
}



.tucan {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 55}) * 0.1);
}

.big_ears {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 58}) * 0.1);
}

.moustache {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 58}) * 0.1);
}

.mini_alien {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 58}) * 0.1);
}

.smile {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 60}) * 0.1);
}

.plane {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 60}) * 0.1);
}

.alien {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 62}) * 0.1);
}

.yellow_fish {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 64}) * 0.1);
}

.long_bird {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 66}) * 0.1);
}

.long_fish {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 68}) * 0.1);
}

.whale {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 70}) * 0.1);
}

.snake_1 {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 70}) * 0.1);
}

.moon {
    opacity: calc(((var(--scrollPostition) * 100) - #{$scrollThreshold + 72}) * 0.1);
}