@import '../../styles/constants';

.stream {
    position: absolute;
    top: $headerHeight;
    left: 0;
    pointer-events: none;

    image {
        overflow: visible;
    }
}

.st0 {
    fill: #873D45;
}

.st1 {
    fill: #D790B1;
}

.st2 {
    fill: #DFA4C0;
}

.st3 {
    fill: #EDCBDB;
}

.st4 {
    fill: #FFFFFF;
}

.st5 {
    fill: #27C5A5;
}

.st6 {
    fill: #AACFA1;
}

.st7 {
    fill: #26C6A4;
}

.st8 {
    fill: #F9D783;
}

.st9 {
    fill: #FBD784;
}

.st10 {
    fill: #1B2024;
}

.st11 {
    fill: #F7455D;
}

.st12 {
    fill: #F74661;
}

.st13 {
    fill: #ECE3D7;
}

.st14 {
    fill: #C20073;
}

.st15 {
    fill: #1C2027;
}

.st16 {
    fill: #3F93A9;
}

.st17 {
    fill: #F0D74D;
}

.st18 {
    fill: #3C91A7;
}

.st19 {
    fill: #182026;
}

.st20 {
    fill: #1F4C86;
}

.st21 {
    fill: #C10072;
}

.st22 {
    fill: #D88FB1;
}

.st23 {
    fill: #F8455E;
}

.st24 {
    fill: #F08A59;
}

.st25 {
    fill: #F18C5B;
}

.st26 {
    fill: #F0D651;
}

.st27 {
    fill: #015F7E;
}

.st28 {
    fill: #28C6A8;
}

.st29 {
    fill: #FDD986;
}

.st30 {
    fill: #ADD0A3;
}

.st31 {
    fill: #1A4986;
}

.st32 {
    fill: #3993A8;
}

.st33 {
    fill: #16789F;
}

.st34 {
    fill: #3B91A7;
}

.st35 {
    fill: #C00072;
}

.st36 {
    fill: #E16658;
}

.st37 {
    fill: #0B0A0A;
}