@import '../../styles/constants';

.logo {
    min-width: $base * 20;
    max-width: $base * 50;
}

.link {
    color: currentColor;

    .logo path {
        fill: currentColor;
        stroke-width: 0;

        transition: fill .8s ease;
    }

    &:focus,
    &:hover {
        outline: none;

        .logo path {
            fill: transparent;
            stroke-dasharray: 700;
            stroke-dashoffset: 0;
            stroke-width: 1.5px;

            @for $i from 1 through 12 {
                &:nth-child(#{$i}) {
                    stroke: rgb(random(155) + 100, random(155) + 100, random(155) + 100);
                }
            }

            stroke: currentColor;

            animation: path-movement 4s infinite linear;
        }
    }
}

@keyframes path-movement {
    to {
        stroke-dashoffset: 1400;
    }
}