@import '../../styles/constants';
@import '../../styles//mixins';

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: $headerHeight;
    top: 0;
    right: 0;
    padding: 0 $layoutPadding;
    background: white;
    z-index: 999;

    @include mediaSmall {
        justify-content: center;
        min-height: $m_headerHeight;
        padding: $base*4 $m_layoutPadding $base*6;
    }
}

.logo {
    width: $base * 30;
}

.backButton {
    @include mediaSmall {
        display: none;
    }
}