@import '../../styles/mixins';

.container {
    @include mediaSmall {
        text-align: center;
    }
}

.filter {
    @include mediaSmall {
        display: none;
    }
}

.about {
    @include mediaBig {
        display: none;
    }
}

.grid {
    margin: 0 auto;
}