@import '../../styles/constants';
@import '../../styles/mixins';

.headline {
    margin-top: $base * 10;

    @include mediaSmall {
        margin-top: $base * 5;
    }
}

.hidden {
    display: none;
}

.container {
    @include mediaSmall {
        text-align: center;
    }
}

.filter {
    @include mediaSmall {
        display: none;
    }
}

.about {
    @include mediaBig {
        display: none;
    }
}

.grid {
    margin: 0 auto;
}